body {
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 30px 30px;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  width: 70%;
  background-color: #2419f31d;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: 0 4px 6px  rgba(0, 0, 0, 0.1), 0 6px 6px  rgba(0, 0, 0, 0.1);
}

.nav-left{
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.nav-left a{
  color: black;
  font-size: 18px;
  transition: color 0.3s ease;
  text-decoration: none;
  font-family: Archivo;
}
.nav-right a{
  color: black;
  font-size: 18px;
  transition: color 0.3s ease;
  text-decoration: none;
  font-family: Archivo;
}

.logo{
  font-size: 40px;
  font-family: DotGothic16;
  color: black;
  text-align: center;
}

#main-content{
  text-align: center;
  margin-bottom: 0;
  font-size: 120px;
  font-family: DotGothic16;
}

#main-image{
  margin:0 50px 0 50px;
  border: 1px 0px 0px 0px;
}

#container2-content{
  padding: 100px 280px;
  text-align: center;
}
#container2-content p{
  font-family: DotGothic16;
  font-size: 50px;
  color: black;
  line-height: 52px;
  text-align: center;
}

.parent1, .parent3{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.parent2{
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 305px;
}

ul li{
  list-style: none;
  margin: 1em 0;
}

#container3{
  display: flex;
  justify-content: space-between;
  margin: 48px  ;
  
}

.parent4{
  font-family: DotGothic16;
  font-size: 28px;
  line-height: 32px;
}

.parent5{
  display: flex;
  gap: 48px;
  margin-right: 235px;
  font-family: Archivo;
  font-size: 20px;
  line-height: 24px;
}

.section1{
  display: flex;
}

